<app-menu/>
<div class="container">
    <h1 class="text-center">Nueva tarea</h1>
    <form  [formGroup]="taskForm" (ngSubmit)="createTask()" class="mt-4 text-center">
      <div style="display: flex; justify-content: center;">
        <div  class="form-group text-center"  style="width: 40%;">
            <label for="name">Nombre:</label>
            <input  type="text" class="form-control col-xs-10 col-sm-2" id="name" placeholder="Ingrese el nombre" formControlName="name">
          </div>
      </div>
        <!-- Botón para enviar el formulario -->
        <button type="submit" class="btn btn-primary mr-2 m-3">Crear</button>
        <!-- Botón para cancelar con enlace a la ruta '../' -->
        <button type="button" class="btn btn-danger" [routerLink]="['../']">Cancelar</button>

    </form>
  </div>
  
  
  
