<app-menu/>
<div class="exam-selection-container">
    <h1>Choose Your Exam</h1>
    <div class="exam-cards">
      <div class="exam-card" routerLink="/exam/algebra">
        <div class="icon">∑</div>
        <h2>Algebra</h2>
        <p>Pon a prueba tus habilidades en expresiones algebraicas, ecuaciones y resolución de problemas.</p>
        <ul>
          <li>Ecuaciones lineales</li>
          <li>Expresiones cuadraticas</li>
          <li>Polinomios</li>
        </ul>
        <button class="start-btn">Empieza tu examen de algebra</button>
      </div>

      <div class="exam-card" routerLink="/exam/statistics">
        <div class="icon">📊</div>
        <h2>Statistics</h2>
        <p>Challenge yourself with statistical concepts and data analysis.</p>
        <ul>
          <li>Probability</li>
          <li>Data distribution</li>
          <li>Statistical measures</li>
        </ul>
        <button class="start-btn">Start Statistics Exam</button>
      </div>

      <div class="exam-card" routerLink="/exam/geometry">
        <div class="icon">📐</div>
        <h2>Geometry</h2>
        <p>Explore spatial relationships and geometric principles.</p>
        <ul>
          <li>Shapes and angles</li>
          <li>Area and volume</li>
          <li>Geometric proofs</li>
        </ul>
        <button class="start-btn">Start Geometry Exam</button>
      </div>
    </div>
  </div>